body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}
.header {
    background-color: #6D4C41;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
}
.header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20%;
    max-width: 600px;
    width: 100%;
}

.search-form input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #5d4037;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #4e342e;
}
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.content {
    width: 70%;
    background-color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}
.ads {
    width: 20%;
    background-color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
}
.col-4 {
    width: 18%;
    height: 200px;
    min-width: 18px;
    padding: 10px;
    border: 1px solid #6D4C41;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
    background-color: #ffffff;
}
.col-4 img {
    width: 100%;
    height: 80%;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.col-4:hover {
    transform: translateY(-20px);
    box-shadow: 20px 20px 30px rgba(100, 68, 68, 0.658);
}
.footer {
    background-color: #6D4C41;
    color: white;
    padding: 20px;
    text-align: center;
}
.footer .social-media {
    margin: 20px 0;
}
.footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}
.footer .social-media img {
    width: 30px;
    height: 30px;
}
.footer .links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.footer .links a:hover {
    text-decoration: underline;
}